<div class="dashboard">
  <div class="descDiv">
    <span>Choose one and start using <b color="accent">Booliye</b></span>
  </div>
  <div class="matCardDiv">
    <section class="p_cards">

      <article class="p_card">
        <div class="p_card_icon_container">
          <mat-icon aria-hidden="false" aria-label="Audio Call">mic</mat-icon>
        </div>
        <span>AUDIO Call</span>
      </article><!-- /card-one -->

      <article class="p_card">
        <div class="p_card_icon_container">
          <mat-icon aria-hidden="false" aria-label="Audio Call">videocam</mat-icon>
        </div>
        <span>VIDEO Call</span>
      </article><!-- /card-one -->
      <article class="p_card">
        <div class="p_card_icon_container">
          <mat-icon aria-hidden="false" aria-label="Audio Call">call_merge</mat-icon>
        </div>
        <span>JOIN Call</span>
      </article><!-- /card-one -->
    </section>
  </div>
</div>
