<mat-toolbar>
  <span>Pflegin It - CallApp</span>
</mat-toolbar>
<div>
  <mat-card class="p_video_card">
    <mat-card-header class="p_video_header">
      <mat-select>
        <mat-option *ngFor="let vSrc of vedioSrc" [value]="vSrc.value">
          {{ vSrc.text }}
        </mat-option>
      </mat-select>
      <mat-icon
        class="p_video_expand"
        aria-hidden="false"
        aria-label="Example home icon"
        >fullscreen</mat-icon
      >
    </mat-card-header>
    <video class="p_video_size" src=""></video>
  </mat-card>
</div>
