mat-toolbar
    height: 60px
    .logoDiv
        background: white
        height: 50px
        width: 50px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 23px
        .logo
            height: 40px
            width: 40px
            border-radius: 23px
    .logoDesc
        padding: 0px 16px
        font-size: 28px